%h2 Profiles

.top
  .search
    = text_field_tag :query, nil
    = image_tag "ajax_loader.gif", :class => "indicator", :style => "display:none;"
  .add_link= link_to "New profile", new_profile_path

- if @profiles.present?
  #profiles_container
    = render "profiles", :profiles => @profiles
    .search_results
- else
  %p No profiles found.