.simple_form label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px; }
.simple_form .input {
  margin: 15px 0; }
  .simple_form .input input.string, .simple_form .input input.password, .simple_form .input textarea {
    width: 400px;
    border: 1px solid #b1b1b1;
    font-size: 18px;
    padding: 2px;
    display: block; }
  .simple_form .input textarea {
    height: 70px; }
.simple_form .input.select select {
  width: 220px; }
.simple_form label.collection_radio {
  display: inline;
  margin-right: 10px;
  margin-left: 5px;
  font-weight: normal; }
.simple_form .error {
  font-size: 12px;
  color: #dd0000;
  display: block; }
.simple_form .hint {
  font-size: 12px;
  color: #555555;
  display: block;
  font-style: italic; }
